# Secretos — nunca subir al repositorio
.env

# Compilados Maven
target/

# Archivos de IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/

# Archivos de Eclipse
.classpath
.project
.settings/

# Archivos de VS Code
.vscode/

# Logs
*.log
logs/

# Sistema operativo
.DS_Store
Thumbs.db
